<div *ngIf="alarm">
  <ng-template #empty><td>-</td></ng-template>
  <div class="container">
    <div class="card">
      <div class="card-header bg-danger text-white">
          {{alarm.title}}
      </div>
      <div class="card-title">
        <span class="badge badge-secondary">Alarm ID {{alarm.id}}</span>&nbsp;
        <span class="badge badge-secondary">Created {{alarm.timestamp| amTimeAgo }}</span>&nbsp;
        <span class="badge badge-secondary">Updated {{alarm.updated_time | amTimeAgo }}</span>&nbsp;
        <span class="badge badge-secondary">Status {{alarm.status}}</span>&nbsp;
        <span class="badge badge-secondary">Risk {{alarm.risk_class}} ({{alarm.risk}})</span>&nbsp;
        <span class="badge badge-secondary">{{alarm.tag}}</span>&nbsp;
        <span class="badge badge-secondary">Sources {{alarm.src_ips}}</span>&nbsp;
        <span class="badge badge-secondary">Destinations {{alarm.dst_ips}}</span>&nbsp;
        <span class="badge badge-secondary">Networks {{alarm.networks}}</span>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Corr. Stage</th>
            <th>Started</th>
            <th>Ended</th>
            <th>Status</th>
            <th>Name</th>
            <th>From</th>
            <th>To</th>
            <th>Protocol</th>
            <th>Port From</th>
            <th>Port To</th>
            <th>Events</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rule of alarm.rules">
            <td>{{rule.stage}}</td>
            <td *ngIf="rule.start_time > 0; else empty">{{rule.start_time | amFromUnix| amTimeAgo}}</td>
            <td *ngIf="rule.end_time > 0; else empty">{{rule.end_time | amFromUnix| amTimeAgo}}</td>
            <td>{{setStatus(rule)}}</td>
            <td>{{rule.name}}</td>
            <td>{{rule.from}}</td>
            <td>{{rule.to}}</td>
            <td *ngIf="rule.protocol; else empty">{{rule.protocol}}</td>
            <td *ngIf="rule.port_from; else empty">{{rule.port_from}}</td>
            <td *ngIf="rule.port_to; else empty">{{rule.port_to}}</td>
            <td class="pointer" [routerLink]="['/eventdetails', alarm.id, rule.stage]">{{rule.events_count}}/{{rule.occurrence}}</td>
          </tr>
        </tbody>
      </table>
      <table class="table" id="{{alarm.id}}" hidden>
        <thead>
          <tr class="bg-secondary text-white">
            <th>Timestamp</th>
            <th>Title</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Protocol</th>
            <th>Sensor</th>
            <th>Plugin</th>
            <th>Plugin SID</th>
            <th>Offset</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of evnts">
            <td>{{e.timestamp | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</td>
            <td>{{e.title}}</td>
            <td>{{e.src_ip}}</td>
            <td>{{e.dst_ip}}</td>
            <td>{{e.protocol}}</td>
            <td>{{e.sensor}}</td>
            <td>{{e.plugin_id}}</td>
            <td>{{e.plugin_sid}}</td>
            <td>{{e.offset}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>