# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
node_modules/
# alienvault rules
*.tsv
user.xml
user.xml.tmp

# nessus files
*.csv

docs/mkdocs

web/dist
web/ui
web/ui-old
temp/
test/pprof_results
configs/dsiem_config.json
logs
cmd/dpluger/*.conf
cmd/dpluger/*.json
cmd/dpluger/*.tsv
.vscode/
