# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Unignore docker builds
!deployments/docker/build/Dockerfile
!deployments/docker/build/s6files/services.d/dsiem/run

# extra things to ignore:

node_modules/
# alienvault rules
*.tsv
user.xml
user.xml.tmp

docs/mkdocs
docs/TODO.md
docs/wiki

web/ui-internal
web/dist
web/ui/dist

temp/
test/pprof_results
configs/dsiem_config.json
logs
.vscode/
