<div class="container" style="margin-top:30px">
  <ng-template #empty><td>-</td></ng-template>
    <table class="table">
      <thead>
        <tr class="bg-danger text-white">
          <th>Timestamp</th>
          <th>Title</th>
          <th>Source</th>
          <th>Destination</th>
          <th>Protocol</th>
          <th>Port From</th>
          <th>Port To</th>
          <th>Sensor</th>
          <th>Plugin</th>
          <th>Plugin SID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of evnts">
          <td>{{e.timestamp | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</td>
          <td>{{e.title}}</td>
          <td>{{e.src_ip}}</td>
          <td>{{e.dst_ip}}</td>
          <td>{{e.protocol}}</td>
          <td *ngIf="e.port_from;else empty">{{e.port_from}}</td>
          <td *ngIf="e.port_to;else empty">{{e.port_to}}</td>
          <td>{{e.sensor}}</td>
          <td>{{e.plugin_id}}</td>
          <td>{{e.plugin_sid}}</td>
        </tr>
      </tbody>
    </table>
</div>