<mat-toolbar style="background-color: #dc3545">
	<mat-toolbar-row>
		<span style="color: #ffff">{{title}}</span>
	</mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<!-- <div class="container">
	<h1 class="text-center">{{title}}</h1>
	<h6 class="text-center">[{{status}}]</h6>
	<nav>
		<div class="text-center" style="margin-top:30px">
			<a routerLink="alarms" class="btn btn-dark active" role="button" routerLinkActive="active">Alarms</a>&nbsp;
			<a routerLink="events" class="btn btn-dark active" role="button" routerLinkActive="active">Events</a>
		</div>
	</nav>
</div>

<router-outlet></router-outlet> -->
