<div *ngIf="alarm">
  <div class="container">
    <div class="card">
      <div class="card-header bg-danger text-white">
          {{alarm.title}}
      </div>
      <div class="card-title">
        <span class="badge badge-secondary">Alarm ID {{alarm.id}}</span>
        <span class="badge badge-secondary">Created {{alarm.timestamp| amTimeAgo }}</span>
        <span class="badge badge-secondary">Updated {{alarm.update_time | amFromUnix| amTimeAgo }}</span>
        <span class="badge badge-secondary">Status {{alarm.status}}</span>
        <span class="badge badge-secondary">Risk {{alarm.risk_class}} ({{alarm.risk}})</span>
        <span class="badge badge-secondary">{{alarm.tag}}</span>
        <span class="badge badge-secondary">Sources {{alarm.src_ips}}</span>
        <span class="badge badge-secondary">Destinations {{alarm.dst_ips}}</span>
        <span class="badge badge-secondary">Networks {{alarm.networks}}</span>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Corr. Stage</th>
            <th>Started</th>
            <th>Name</th>
            <th>From</th>
            <th>To</th>
            <th>Events</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rule of alarm.rules">
            <td>{{rule.stage}}</td>
            <td *ngIf="rule.events_count > 0">{{rule.start_time | amFromUnix| amTimeAgo}}</td>
            <td *ngIf="rule.events_count == 0">-</td>
            <td>{{rule.name}}</td>
            <td>{{rule.from}}</td>
            <td>{{rule.to}}</td>
            <td>{{rule.events_count}}/{{rule.occurrence}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>