<div *ngIf="events" class="container" style="margin-top:30px">
  <table class="table">
    <thead>
      <tr class="bg-danger text-white">
        <th>Timestamp</th>
        <th>Title</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Protocol</th>
        <th>Sensor</th>
        <th>Plugin</th>
        <th>Plugin SID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
      <!--<tr *ngFor="let event of events" @fadeIn>-->
        <td >{{event._source.timestamp | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</td>
        <td >{{event._source.title}}</td>
        <td>{{event._source.src_ip}}</td>
        <td>{{event._source.dst_ip}}</td>
        <td>{{event._source.protocol}}</td>
        <td>{{event._source.sensor}}</td>
        <td>{{event._source.plugin_id}}</td>
        <td>{{event._source.plugin_sid}}</td>
      </tr>
    </tbody>
  </table>
</div>