<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div *ngFor="let row of alarm">
              {{row._source.title}}
            </div>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>AlarmID</th>
                  <th>Created</th>
                  <th>Updated</th>
                  <th>Status</th>
                  <th>Risk</th>
                  <th>Tag</th>
                  <th>Sources</th>
                  <th>Destinations</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of alarm" [style.height]="wide == true ? '260px' : 'auto'">
                  <td>
                    <label style="cursor: pointer" (click)="openDropdown('alrm-id-', alarmID)"
                    tooltip="Click to query {{alarmID}} at kibana">{{alarmID}}</label>
                    &nbsp;
                    <div class="btn-group" id="alrm-id-{{alarmID}}" dropdown style="display: none">
                      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle" (click)="resetHeight('alrm-id-', alarmID)">
                        query {{alarmID}}
                      </button>
                      <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <a class="dropdown-item" (click)="openKibana('siem_alarms', '_id', alarmID)" style="cursor: pointer">siem_alarms</a>
                      </ul>
                      <button type="button" class="close" aria-label="Close" id="close-alrm-id-{{alarmID}}" style="display: none" (click)="closeDropdown('alrm-id-', alarmID); wide=false">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                  </td>
                  <td>{{row._source.timestamp | amTimeAgo}}</td>
                  <td>{{row._source.updated_time | amTimeAgo}}</td>
                  <td>
                    <label style="cursor: pointer" (click)="openDropdown('alrm-status-', alarmID)">{{row._source.status}}</label>
                    &nbsp;
                    <i class="fa fa-clock-o" style="color: red" *ngIf="isProcessingUpdateStatus"></i>
                    <div class="btn-group" id="alrm-status-{{alarmID}}" dropdown style="display: none">
                      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle" (click)="resetHeight('alrm-status-', alarmID)">
                        change
                      </button>
                      <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <a class="dropdown-item" (click)="changeAlarmStatus(alarmID, 'Open')" style="cursor: pointer">Open</a>
                        <a class="dropdown-item" (click)="changeAlarmStatus(alarmID, 'In-Progress')" style="cursor: pointer">In-Progress</a>
                        <a class="dropdown-item" (click)="changeAlarmStatus(alarmID, 'Closed')" style="cursor: pointer">Closed</a>
                      </ul>
                      <button type="button" class="close" aria-label="Close" id="close-alrm-status-{{alarmID}}" style="display: none" (click)="closeDropdown('alrm-status-', alarmID); wide=false">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                  </td>
                  <td>
                    <label style="cursor: pointer" (click)="openDropdown('alrm-risk-', alarmID)"
                    tooltip="Click to query {{row._source.risk_class}} at kibana">{{row._source.risk_class}}</label>
                    &nbsp;
                    <div class="btn-group" id="alrm-risk-{{alarmID}}" dropdown style="display: none">
                      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle" (click)="resetHeight('alrm-risk-', alarmID)">
                        query {{row._source.risk_class}}
                      </button>
                      <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <a class="dropdown-item" (click)="openKibana('siem_alarms', 'risk_class', row._source.risk_class)" style="cursor: pointer">siem_alarms</a>
                      </ul>
                      <button type="button" class="close" aria-label="Close" id="close-alrm-risk-{{alarmID}}" style="display: none" (click)="closeDropdown('alrm-risk-', alarmID); wide=false">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                  </td>
                  <td>
                    <label style="cursor: pointer" (click)="openDropdown('alrm-tag-', alarmID)">{{row._source.tag}}</label>
                    &nbsp;
                    <i class="fa fa-clock-o" style="color: red" *ngIf="isProcessingUpdateTag"></i>
                    <div class="btn-group" id="alrm-tag-{{alarmID}}" dropdown style="display: none">
                      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle" (click)="resetHeight('alrm-tag-', alarmID)">
                        change
                      </button>
                      <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <a class="dropdown-item" (click)="changeAlarmTag(alarmID, 'Identified Threat')" style="cursor: pointer">Identified Threat</a>
                        <a class="dropdown-item" (click)="changeAlarmTag(alarmID, 'False Positive')" style="cursor: pointer">False Positive</a>
                        <a class="dropdown-item" (click)="changeAlarmTag(alarmID, 'Valid Threat')" style="cursor: pointer">Valid Threat</a>
                        <a class="dropdown-item" (click)="changeAlarmTag(alarmID, 'Security Incident')" style="cursor: pointer">Security Incident</a>
                      </ul>
                      <button type="button" class="close" aria-label="Close" id="close-alrm-tag-{{alarmID}}" style="display: none" (click)="closeDropdown('alrm-tag-', alarmID); wide=false">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                  </td>
                  <td>
                    <label style="cursor: pointer" (click)="openDropdown('alrm-src-ip-', alarmID)"
                    tooltip="Click to query {{row._source.src_ips}} at kibana">{{row._source.src_ips}}</label>
                    &nbsp;
                    <div class="btn-group" id="alrm-src-ip-{{alarmID}}" dropdown style="display: none">
                      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle" (click)="resetHeight('alrm-src-ip-', alarmID)">
                        query {{row._source.src_ips}}
                      </button>
                      <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <a class="dropdown-item" (click)="openKibana('siem_alarms', 'src_ips', row._source.src_ips)" style="cursor: pointer">siem_alarms</a>
                      </ul>
                      <button type="button" class="close" aria-label="Close" id="close-alrm-src-ip-{{alarmID}}" style="display: none" (click)="closeDropdown('alrm-src-ip-', alarmID); wide=false">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                  </td>
                  <td>
                    <div *ngFor="let d of row._source.dst_ips; let i=index">
                      <label style="cursor: pointer" (click)="openDropdown('alrm-dst-ip-', i+'-'+alarmID)"
                      tooltip="Click to query {{d}} at kibana">{{d}}</label>
                      &nbsp;
                      <div class="btn-group" id="alrm-dst-ip-{{i}}-{{alarmID}}" dropdown style="display: none">
                        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle" (click)="resetHeight('alrm-dst-ip-', i+'-'+alarmID)">
                          query {{d}}
                        </button>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                          <a class="dropdown-item" (click)="openKibana('siem_alarms', 'dst_ips', d)" style="cursor: pointer">siem_alarms</a>
                        </ul>
                        <button type="button" class="close" aria-label="Close" id="close-alrm-dst-ip-{{i}}-{{alarmID}}" style="display: none" (click)="closeDropdown('alrm-dst-ip-', i+'-'+alarmID); wide=false">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            Rules
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Corr. Stage</th>
                  <th>Started</th>
                  <th>Ended</th>
                  <th>Status</th>
                  <th>Name</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Protocol</th>
                  <th>Port From</th>
                  <th>Port To</th>
                  <th>Events</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let rule of alarmRules" tooltip="Click to see events" style="cursor:pointer"
                (click)="getEventsDetail('init', alarmID, rule.stage, null, null, rule.events_count)">
                  <td>{{rule.stage}}</td>
                  <td>{{rule.start_time | amFromUnix| amTimeAgo}}</td>
                  <td>{{rule.end_time | amFromUnix| amTimeAgo}}</td>
                  <td>{{setStatus(rule)}}</td>
                  <td>{{rule.name}}</td>
                  <td>{{rule.from}}</td>
                  <td>{{rule.to}}</td>
                  <td>{{rule.protocol}}</td>
                  <td>{{rule.port_from}}</td>
                  <td>{{rule.port_to}}</td>
                  <td>{{rule.events_count}}/{{rule.occurrence}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="alarmVuln.length > 0">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            Vulnerabilities
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Provider</th>  
                  <th>Term</th>  
                  <th>Result</th>  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let v of alarmVuln">
                  <td>{{v.provider}}</td>
                  <td>{{v.term}}</td>
                  <td>{{v.result}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="alarmIntelHits.length > 0">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            Threat Intel
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Provider</th>  
                  <th>Term</th>  
                  <th>Result</th>  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of alarmIntelHits">
                  <td>{{i.provider}}</td>
                  <td>{{i.term}}</td>
                  <td>{{i.result}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            Event Detail
          </div>
          <div class="card-body">
            <ng-template #empty><td>-</td></ng-template>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Timestamp</th>
                  <th>Title</th>
                  <th>Source</th>
                  <th>Destination</th>
                  <th>Protocol</th>
                  <th>Port From</th>
                  <th>Port To</th>
                  <th>Sensor</th>
                  <th>Plugin</th>
                  <th>Plugin SID</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let event of evnts; let i=index" [style.height]="wideEv[i] == true ? '230px' : 'auto'">
                  <td>{{event.timestamp | amTimeAgo}}</td>
                  <td>
                    <label style="cursor: pointer" (click)="openDropdown('title-', event.event_id)"
                    tooltip="Click to query {{event.title}} at kibana">{{event.title}}</label>
                    &nbsp;
                    <div class="btn-group" id="title-{{event.event_id}}" dropdown style="display: none">
                      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle" (click)="resetHeightEv('title-', event.event_id, i)">
                        query {{event.title}}
                      </button>
                      <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <a class="dropdown-item" (click)="openKibana('siem_events', 'title', event.title)" style="cursor: pointer">siem_event</a>
                        <a class="dropdown-item" (click)="openKibana('suricata', 'alert.signature', event.title)" style="cursor: pointer">suricata</a>
                      </ul>
                      <button type="button" class="close" aria-label="Close" id="close-title-{{event.event_id}}" style="display: none" (click)="closeDropdown('title-', event.event_id); wideEv[i]=false">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                  </td>
                  <td>
                    <label style="cursor: pointer" (click)="openDropdown('src-ip-', event.event_id)"
                    tooltip="Click to query {{event.src_ip}} at kibana">{{event.src_ip}}</label>
                    &nbsp;
                    <div class="btn-group" id="src-ip-{{event.event_id}}" dropdown style="display: none">
                      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle" (click)="resetHeightEv('src-ip-', event.event_id, i)">
                        query {{event.src_ip}}
                      </button>
                      <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <a class="dropdown-item" (click)="openKibana('siem_events', 'src_ip', event.src_ip)" style="cursor: pointer">siem_event</a>
                        <a class="dropdown-item" (click)="openKibana('suricata', 'src_ip', event.src_ip)" style="cursor: pointer">suricata</a>
                      </ul>
                      <button type="button" class="close" aria-label="Close" id="close-src-ip-{{event.event_id}}" style="display: none" (click)="closeDropdown('src-ip-', event.event_id); wideEv[i]=false">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                  </td>
                  <td>
                    <label style="cursor: pointer" (click)="openDropdown('dst-ip-', event.event_id)"
                    tooltip="Click to query {{event.dst_ip}} at kibana">{{event.dst_ip}}</label>
                    &nbsp;
                    <div class="btn-group" id="dst-ip-{{event.event_id}}" dropdown style="display: none">
                      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle" (click)="resetHeightEv('dst-ip-', event.event_id, i)">
                        query {{event.dst_ip}}
                      </button>
                      <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <a class="dropdown-item" (click)="openKibana('siem_events', 'dst_ip', event.dst_ip)" style="cursor: pointer">siem_event</a>
                        <a class="dropdown-item" (click)="openKibana('suricata', 'dest_ip', event.dst_ip)" style="cursor: pointer">suricata</a>
                      </ul>
                      <button type="button" class="close" aria-label="Close" id="close-dst-ip-{{event.event_id}}" style="display: none" (click)="closeDropdown('dst-ip-', event.event_id); wideEv[i]=false">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                  </td>
                  <td>{{event.protocol}}</td>
                  <td *ngIf="event.port_from; else empty">{{event.port_from}}</td>
                  <td *ngIf="event.port_to; else empty">{{event.port_to}}</td>
                  <td>{{event.sensor}}</td>
                  <td>{{event.plugin_id}}</td>
                  <td>{{event.plugin_sid}}</td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination">
                <li class="page-item clearfix d-none d-md-block" (click)="firstPage()" [ngClass]="{disabled: activePage == 1}">
                  <a class="page-link">First</a>
                </li>
                <li class="page-item" (click)="previousPage($event)" [ngClass]="{disabled: activePage == 1}">
                  <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li #pages *ngFor="let page of paginators | slice:firstVisiblePaginator:lastVisiblePaginator; let i = index" class="page-item" [ngClass]="{active: i + firstVisiblePaginator + 1 == activePage}">
                  <a class="page-link waves-light" (click)="changePage($event)" mdbWavesEffect>{{page}}</a>
                </li>
                <li class="page-item" (click)="nextPage($event)" [ngClass]="{disabled: activePage == numberOfPaginators}">
                  <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <li class="page-item clearfix d-none d-md-block" (click)="lastPage()" [ngClass]="{disabled: activePage == numberOfPaginators}">
                  <a class="page-link">Last</a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
</div>  