<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div *ngFor="let row of alarm">
              {{row._source.title}}
            </div>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>AlarmID</th>
                  <th>Created</th>
                  <th>Updated</th>
                  <th>Status</th>
                  <th>Risk</th>
                  <th>Tag</th>
                  <th>Sources</th>
                  <th>Destinations</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of alarm" [style.height]="wide == true ? '230px' : 'auto'">
                  <td>{{alarmID}}</td>
                  <td>{{row._source.timestamp | amTimeAgo}}</td>
                  <td>{{row._source.updated_time | amTimeAgo}}</td>
                  <td>
                    <label style="cursor: pointer" (click)="openDropdown('alrm-status-', alarmID)">{{row._source.status}}</label>
                    &nbsp;
                    <i class="fa fa-clock-o" style="color: red" *ngIf="isProcessingUpdateStatus"></i>
                    <div class="btn-group" id="alrm-status-{{alarmID}}" dropdown style="display: none">
                      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle" (click)="resetHeight('alrm-status-', alarmID)">
                        change
                      </button>
                      <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <a class="dropdown-item" (click)="changeAlarmStatus(alarmID, 'Open')" style="cursor: pointer">Open</a>
                        <a class="dropdown-item" (click)="changeAlarmStatus(alarmID, 'In-Progress')" style="cursor: pointer">In-Progress</a>
                        <a class="dropdown-item" (click)="changeAlarmStatus(alarmID, 'Closed')" style="cursor: pointer">Closed</a>
                      </ul>
                      <button type="button" class="close" aria-label="Close" id="close-alrm-status-{{alarmID}}" style="display: none" (click)="closeDropdown('alrm-status-', alarmID); wide=false">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                  </td>
                  <td>{{row._source.risk_class}}</td>
                  <td>{{row._source.tag}}</td>
                  <td>{{row._source.src_ips}}</td>
                  <td>
                    <div *ngFor="let d of row._source.dst_ips">
                      <span>{{d}}</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            Rules
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Corr. Stage</th>
                  <th>Started</th>
                  <th>Ended</th>
                  <th>Status</th>
                  <th>Name</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Protocol</th>
                  <th>Port From</th>
                  <th>Port To</th>
                  <th>Events</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let rule of alarmRules" tooltip="Click to see events" style="cursor:pointer"
                (click)="getEventsDetail('init', alarmID, rule.stage, null, null, rule.events_count)">
                  <td>{{rule.stage}}</td>
                  <td>{{rule.start_time | amFromUnix| amTimeAgo}}</td>
                  <td>{{rule.end_time | amFromUnix| amTimeAgo}}</td>
                  <td>{{setStatus(rule)}}</td>
                  <td>{{rule.name}}</td>
                  <td>{{rule.from}}</td>
                  <td>{{rule.to}}</td>
                  <td>{{rule.protocol}}</td>
                  <td>{{rule.port_from}}</td>
                  <td>{{rule.port_to}}</td>
                  <td>{{rule.events_count}}/{{rule.occurrence}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="alarmVuln.length > 0">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            Vulnerabilities
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Provider</th>  
                  <th>Term</th>  
                  <th>Result</th>  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let v of alarmVuln">
                  <td>{{v.provider}}</td>
                  <td>{{v.term}}</td>
                  <td>{{v.result}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="alarmIntelHits.length > 0">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            Threat Intel
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Provider</th>  
                  <th>Term</th>  
                  <th>Result</th>  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of alarmIntelHits">
                  <td>{{i.provider}}</td>
                  <td>{{i.term}}</td>
                  <td>{{i.result}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            Event Detail
          </div>
          <div class="card-body">
            <ng-template #empty><td>-</td></ng-template>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Timestamp</th>
                  <th>Title</th>
                  <th>Source</th>
                  <th>Destination</th>
                  <th>Protocol</th>
                  <th>Port From</th>
                  <th>Port To</th>
                  <th>Sensor</th>
                  <th>Plugin</th>
                  <th>Plugin SID</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let event of evnts">
                  <td>{{event.timestamp | amTimeAgo}}</td>
                  <td>{{event.title}}</td>
                  <td>{{event.src_ip}}</td>
                  <td>{{event.dst_ip}}</td>
                  <td>{{event.protocol}}</td>
                  <td *ngIf="event.port_from; else empty">{{event.port_from}}</td>
                  <td *ngIf="event.port_to; else empty">{{event.port_to}}</td>
                  <td>{{event.sensor}}</td>
                  <td>{{event.plugin_id}}</td>
                  <td>{{event.plugin_sid}}</td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination">
                <li class="page-item clearfix d-none d-md-block" (click)="firstPage()" [ngClass]="{disabled: activePage == 1}">
                  <a class="page-link">First</a>
                </li>
                <li class="page-item" (click)="previousPage($event)" [ngClass]="{disabled: activePage == 1}">
                  <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li #pages *ngFor="let page of paginators | slice:firstVisiblePaginator:lastVisiblePaginator; let i = index" class="page-item" [ngClass]="{active: i + firstVisiblePaginator + 1 == activePage}">
                  <a class="page-link waves-light" (click)="changePage($event)" mdbWavesEffect>{{page}}</a>
                </li>
                <li class="page-item" (click)="nextPage($event)" [ngClass]="{disabled: activePage == numberOfPaginators}">
                  <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <li class="page-item clearfix d-none d-md-block" (click)="lastPage()" [ngClass]="{disabled: activePage == numberOfPaginators}">
                  <a class="page-link">Last</a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
</div>  