<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Alarm List
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-primary text-right" (click)="startStopTimer('off')" 
            *ngIf="timer_status == 'on'" tooltip="Click to turn-off auto refresh" placement="top">
            Turn-Off Auto Refresh (refreshing in {{refreshSec}} seconds)
          </button>
          <button type="button" class="btn btn-dark text-right" (click)="startStopTimer('on')" 
            *ngIf="timer_status == 'off'" tooltip="Click to turn-on auto refresh" placement="top">
            Turn On Auto Refresh
          </button>
          <br/><br/>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>AlarmID</th>
                <th>Title</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Status</th>
                <th>Risk</th>
                <th>Tag</th>
                <th>Sources</th>
                <th>Destinations</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let alarm of tableData">
                <td>{{alarm.id}}</td>
                <td>{{alarm.title}}</td>
                <td>{{alarm.timestamp | amTimeAgo}}</td>
                <td>{{alarm.updated_time | amTimeAgo}}</td>
                <td>{{alarm.status}}</td>
                <td>{{alarm.risk_class}}</td>
                <td>{{alarm.tag}}</td>
                <td>{{alarm.src_ips}}</td>
                <td>{{alarm.dst_ips}}</td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item clearfix d-none d-md-block" (click)="firstPage()" [ngClass]="{disabled: activePage == 1}">
              <a class="page-link">First</a>
            </li>
            <li class="page-item" (click)="previousPage($event)" [ngClass]="{disabled: activePage == 1}">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li #pages *ngFor="let page of paginators | slice:firstVisiblePaginator:lastVisiblePaginator; let i = index" class="page-item" [ngClass]="{active: i + firstVisiblePaginator + 1 == activePage}">
              <a class="page-link waves-light" (click)="changePage($event)" mdbWavesEffect>{{page}}</a>
            </li>
            <li class="page-item" (click)="nextPage($event)" [ngClass]="{disabled: activePage == numberOfPaginators}">
              <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <li class="page-item clearfix d-none d-md-block" (click)="lastPage()" [ngClass]="{disabled: activePage == numberOfPaginators}">
              <a class="page-link">Last</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

