<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Alarm List
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>AlarmID</th>
                <th>Title</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Status</th>
                <th>Risk</th>
                <th>Tag</th>
                <th>Sources</th>
                <th>Destinations</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let alarm of tableData">
                <td>{{alarm.id}}</td>
                <td>{{alarm.title}}</td>
                <td>{{alarm.timestamp | amTimeAgo}}</td>
                <td>{{alarm.updated_time | amTimeAgo}}</td>
                <td>{{alarm.status}}</td>
                <td>{{alarm.risk_class}}</td>
                <td>{{alarm.tag}}</td>
                <td>{{alarm.src_ips}}</td>
                <td>{{alarm.dst_ips}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
